@font-face {
  font-family: Courgette;
  src: url('./Courgette/Courgette-Regular.ttf');
}
@font-face {
  font-family: Medium;
  src: url('./Courgette/Montserrat-Medium.ttf');
}

body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: Medium;
  padding: 5%;
}

.parent{
  width: 500px;
  border: 1px solid black;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(235, 225, 163);

  transition: height 0.5s cubic-bezier(.1, .9, .9, 1.0);
}

h3{
  margin: 0;
  text-align: center;
  font-size: 35px;
  font-family: Courgette;
  margin-bottom: 20px;
  color: rgb(99, 126, 86);
}

ul {
  padding: 0;
}

li {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-left: 15px;
  list-style-type: none;
  margin: 4px;
  border-radius: 8px;
}

select {
  width: 150px;
  height: 34px;
  margin-top: 18px;
  padding-left: 8px;
  border-radius: 5px;
  border: 2px solid rgb(39, 39, 39);
  background-color: rgb(255, 248, 211);
  transition: all 0.2s;
}
select:hover{
  background-color: rgb(253, 249, 223);
  transition: all 0.2s;
}
select:focus{
  background-color: rgb(253, 249, 223);
  transition: all 0.2s;
}

input{
  width: 250px;
  padding: 7px;
  background-color: rgb(255, 248, 211);
  border-radius: 5px;
  transition: all 0.2s;
}
input:hover{
  background-color: rgb(253, 249, 223);
  transition: all 0.2s;
}
input:focus{
  background-color: rgb(253, 249, 223);
  transition: all 0.2s;
}

.add{
  margin-top: 8px;
  margin-left: 40px;
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(99, 126, 86);
  color: rgb(255, 255, 255);
  transition: all 0.2s;
}

.add:hover {
  background-color: rgb(90, 116, 79);
  transition: all 0.2s;
}

.addDisabled{
  margin-top: 8px;
  margin-left: 40px;
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(99, 126, 86);
  color: rgb(99, 126, 86);
}

.blockButton, .blockButtonRed{
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin-bottom: 7px;
  margin-right: 7px;
}

.blockButton{
  background-color: rgb(99, 126, 86);
  transition: all 0.2s;
}
.blockButton:hover {
  background-color: rgb(77, 99, 68);
  transition: all 0.2s;
}

.blockButtonRed {
  background-color: rgb(129, 38, 38);
  transition: all 0.2s;
}
.blockButtonRed:hover {
  background-color: rgb(94, 23, 23);
  transition: all 0.2s;
}

.blockInp{
  display: flex;
  justify-content: space-between;
}

.done{
  text-decoration: 2px line-through;
}

.textLi{
  margin-top: 4px;
  font-family: Medium;
  font-size: 18px;
}